{% extends "omanba/index.html" %}
{% block content %}
<p align = "center">Sports</p>

{% for item in sports_detail %}
<ul>
<p><img src="/{{ item.render_image }}" /></p>
<p>{{ item.headline }}</p>
<p>{{ item.date_created }}</p>
<p>{{item.body }}</p>
<p>{% load webdesign %}</p>
{% lorem 3 p %}
</ul>
{% endfor %}
<ul><p><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="AganaAgana">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></a>&nbsp
</p>
<p><iframe src="https://www.facebook.com/plugins/like.php?href=http://localhost:8000/omanba/videodetail/1/"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>
</p></ul>
{% endblock %}
